* {
    padding: 0;
    margin : 0;
}

html,
body {
    box-sizing: border-box;
    overflow-x: hidden;
}

nav {
    /* font-family: 'PT Sans', sans-serif; */
    font-family     : 'Questrial';
    height          : 60px;
    background-color: snow;
    padding         : 4px;
    width           : 100%;
    box-shadow      : 2px 3px 3px gray;
    position        : fixed;
    z-index         : 999999;
}

nav ul {
    list-style     : none;
    display        : flex;
    flex-direction : row;
    justify-content: space-around;
    align-items    : flex-start;
}

nav ul li {
    height         : 60px;
    width          : 23%;
    margin-top     : -4px;
    padding        : 4px;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
}

#logo2 {
    display: none;
}

nav .img img {
    height: 90%;
    float: left;
    position: relative;
    max-height: 65px;
}

.nav-cursos img {
    display: none;
}

#contato-icon {
    display: none;
}

.face {
    background-color: #534AB4;
    width           : 8%;
}

#face-logo {
    height: 40px;
}

nav ul li:hover {
    box-shadow: inset 0 -5px 0 #D64737;
}

.active {
    box-shadow: inset 0 -5px 0 #D64737;
}

nav ul li a {
    color          : darkslategray;
    text-decoration: none;
    width          : 100%;
    height         : 100%;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
}

nav ul li a:visited {
    color          : darkslategray;
    text-decoration: none;
}

nav ul li a:hover {
    color      : black;
    font-weight: bold;
}

#contato {
    background-color: #D64737;
}

#contato a {
    color          : white;
    font-weight    : bolder;
    width          : 100%;
    height         : 100%;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
}

.landing {
    height          : 75vh;
    background-color: lightblue;
}

.seja {
    height         : 160px;
    width          : 100%;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
}

.seja .aluno {
    height         : 140px;
    width          : 80%;
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
}

.seja .aluno .img {
    width          : 90px;
    height         : 90px;
    border-radius  : 50%;
    border         : 3px solid #1BA2A1;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
}

.seja .aluno .img img {
    min-width : 75px;
    min-height: 75px;
}

.seja .aluno .texto {
    font-family     : 'Pt Sans', sans-serif;
    font-style      : italic;
    margin-left     : 10px;
    color           : snow;
    background-color: #1BA2A1;
    height          : 70px;
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
    padding-left    : 10px;
    padding-right   : 10px;
    border-radius   : 18px;
}

.seja .aluno:hover {
    cursor          : pointer;
    background-color: #DADADA;
}

.titulo-cursos {
    width          : 100%;
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
}

.linha {
    min-width    : 25%;
    border-bottom: 1px solid #574F4F;
    box-shadow   : 1px 1px 10px gray;
}

.titulo-cursos .texto {
    padding    : 12px;
    color      : #574F4F;
    font-size  : 1.4em;
    text-align : center;
    font-family: 'Pt Sans', sans-serif;
}

.titulo-cursos .texto b {
    color: #266CB5;
}

.cursos {
    width          : 100%;
    display        : flex;
    flex-direction : row;
    justify-content: space-around;
    align-items    : center;
    flex-wrap      : wrap;
}

.cursos .card {
    width           : 24%;
    height          : 240px;
    background-color: gray;
    margin          : 5px;
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
}

.cursos .card h3 {
    color          : white;
    text-align-last: center;
    font-family    : 'Pt Sans', sans-serif;
}

.cursos .card p {
    color: white;
}

footer {
    background-color: #D64737;
    color           : white;
}

footer h2 {
    font-family: 'Pt Sans', sans-serif;
    font-size  : 1.6em;
}

footer .container {
    display        : flex;
    flex-direction : row;
    justify-content: space-around;
    align-items    : center;
}

footer .linha {
    border-bottom: 1px solid white;
}

footer .referencia {
    /* background-color: snow; */
    border-radius  : 25px;
    width          : 250px;
    height         : 250px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
}

footer .referencia a {
    color          : white;
    text-decoration: none;
    text-align     : center;
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
    height         : 100%;
    width          : 100%;
}

footer .referencia h4 {
    font-size: 1.5em;
}

footer .referencia h6 {
    font-family: 'Pt Sans', sans-serif;
    font-size: 1.1em;
}

footer .referencia img {
    height          : 40px;
    padding         : 10px;
    background-color: white;
    border-radius   : 50%;
}

.copyright {
    background-color: #1E1E1E;
    color           : snow;
    font-family     : 'Pt Sans', sans-serif;
    text-align      : center;
    padding         : 10px;
}

.mais {
    width: 90%;
    min-height: 60vh;
    background-color: honeydew;
}

.sobre {
    width: 90%;
    margin: 0 auto;
}

.sobre h1 {
    color: #1E1E1E;
    width: 100%;
    padding: 10px;
    font-family: 'Permanent Marker', cursive;    
    font-size: 2.5em;
    text-align: center;
}

.sobre span {
    text-align: center;    
    background: linear-gradient(37deg, #cc3508, #3741cc);
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: letras 4s linear infinite;
    -moz-animation: letras 4s linear infinite;
    animation: letras 4s linear infinite;
}

@-webkit-keyframes letras {
    0%{background-position:83% 0%}
    50%{background-position:18% 100%}
    100%{background-position:83% 0%}
}
@-moz-keyframes letras {
    0%{background-position:83% 0%}
    50%{background-position:18% 100%}
    100%{background-position:83% 0%}
}
@keyframes letras { 
    0%{background-position:83% 0%}
    50%{background-position:18% 100%}
    100%{background-position:83% 0%}
}

.sobre .long {
    text-align: justify;
    width: 75%;
    margin: 0 auto;
    font-family: 'Pt Sans', sans-serif;
}

.sobre .long p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.expander {
    height: 80px;
}

.contato {
    margin: 0 auto;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contato form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.contato .group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contato .group label {
    font-family: 'Pt Sans', sans-serif;
    font-size: 1.5em;
    line-height: 1.8em;
}

.contato .group input {
    padding: 6px;
    border-radius: 12px;
    border: 1px solid black;
    width: 100%;
    line-height: 1.3em;
    font-size: 1.2em;
}

.contato .group textarea {
    resize: none;
    border: 1px solid black;
    border-radius: 12px;
    padding: 6px;
    width: 100%;
    line-height: 1.3em;
    font-size: 1.2em;
}

#enviar {
    border-radius: 50%;
    margin: 0 auto;
    height: 80px;
    width: 80px;
    margin: 20px;
    border: 1px solid crimson;
    background-color: crimson;
    color: white;
    font-family: 'Pt Sans', sans-serif;
    font-weight: bolder;
}