@media screen and (max-width: 700px) {
    nav ul{
        justify-content: flex-end;
    }

    #logo {
        display: none;
    }

    #logo2 {
        display: block;
        height : 90%;
    }

    .home {
        display: none;
    }

    .diferenciais {
        display: none;
    }

    .nav-cursos {
        width: 60px;
    }

    .nav-cursos img {
        display: block;
        width  : 50px;
    }

    .nav-cursos span {
        display: none;
    }

    #contato {
        width: 60px;
    }
    #contato-icon {
        display: block;
        height : 40px;
    }

    #contato b {
        display: none;
    }

    .face {
        width: 60px;
    }

    .seja {
        margin       : 0;
        margin-bottom: 25px;
        height       : 300px;
    }

    .seja .aluno{
        justify-content: space-between;
        flex-direction : column;
    }

    .seja .aluno .texto {
        min-height   : 90px;
        margin-bottom: 10px;
        font-size    : 1.2em;
        margin       : 0;
    }

    .seja .aluno .texto h2 {
        padding: 10px;
        /* background-color: red; */
    }

    .seja .aluno .img {
        margin    : 15px;
        min-height: 90px;
        min-width : 90px;
    }

    .cursos .card {
        width: 80%;
    }

    footer .container {
        flex-direction: column;
    }

    footer .linha {
        display: none;
    }
}