extends layout

block append style 
    link(href="https://fonts.googleapis.com/css?family=PT+Sans|Questrial|Permanent+Marker" rel="stylesheet")

block content
        .mais
        .sobre
            h1 Somos muito mais que uma <span>escola</span>
            .long
                p 
                    b NÓS
                    | , equipe e sobretudo família, somos uma empresa que foi fundada em fevereiro de 1996, portanto há mais de 23 anos no mercado, com a marca CDI INFORMÁTICA.
                p 
                    | Após sete anos percebemos que o método era inócuo, pois cada vez mais o mercado evoluía e exigia novas tecnologias e cursos. 
                p Percebemos que tínhamos que mudar quando o pai de um aluno veio nos procurar e a secretária disse que precisaria aguardar até montar uma turma, daí acabamos perdendo o aluno.    
                p Pesquisamos, corremos atrás e na época encontramos a EASYCOMP, no qual nos tornamos licenciados e permanecemos por mais algumas anos. Porém eles não acompanharam a evolução dos cursos....    
                p Daí, fechamos com a Compuway e o mantivemos até 2017, foi quando surgiu a R5 Ensino em 2016, e até o começo de setembro vínhamos mantendo contato e paquera, mas não resolvemos até que em setembro de 2017, resolvemos começar a namorar e surgiu esta parceria e que esperamos que dure muito tempo.
                p Temos orgulho em afirmar que durante todo este tempo, dezenas de jovens e adultos, passaram e trabalharam conosco. Hoje, vemos muitos deles bem empregados e com futuro promissor pela frente. 
                p Acredito que seja o maior legado que eu, nos meus 66 anos de idade, jovem de mentalidade e vigor físico, descendente de japoneses, casado com descendente de dinamarqueses e com 3 filhos possa ter muito ainda a oferecer a região de União da Vitória.
                p 
                    b O nosso foco é na área da informática, estética e beleza e área da saúde e cursos profissionalizantes.
                p Temos como MISSÃO:  Preparar pessoas para o mercado de trabalho através da educação e formação profissional,através de uma VISÃO que desenvolva o cidadão a agregar habilidades que permitam o seu ingresso ao trabalho, complementando seus e nossos VALORES, que são o profissionalismo, a justiça e realização. 
                