extends layout

block content
    .expander
    .contato
        form(action="/contato" method="post")
            .group
                label(for="name") Qual é o seu nome?
                input(name="name" type="text" placeholder="Digite seu nome, por favor" required)
            .group
                label(for="email") Tem email?
                input(name="email" type="text" placeholder="Pode digitar ele aqui" required)
            .group
                label(for="message") Qual sua mensagem para nós?
                textarea(name="message" id="" cols="30" rows="10" placeholder="Conte para mim." required)
            input#enviar(type="submit" value="Enviar")