extends layout

block content
    .landing
        #slider
            img(src="./img/banners/01.png" alt="")
            img(src="./img/banners/02.png" alt="")
            img(src="./img/banners/03.png" alt="")
            img(src="./img/banners/04.png" alt="")
        
    script(src="/js/slider.js")
