extends layout

block content
    .landing
        #slider
            img(src="./img/banners/01.png" alt="")
            img(src="./img/banners/02.png" alt="")
            img(src="./img/banners/03.png" alt="")
            img(src="./img/banners/04.png" alt="")
        
    script(src="/js/slider.js")

    a(href="contato.html")
    div.seja
        .aluno
            .img
                img(src="./img/icons/school.svg" alt="Seja um aluno CD-Easy")
            .texto
                h2 Seja um aluno CD-Easy
                    

    include courses
