nav.navbar-default
    ul
        li.img
            a(href="/")
                img#logo2(src="./img/logo2.png" alt="")
                img#logo(src="./img/logo.png" alt="")
        li.home.active
            a(href="/")
                span Home
        li
            a(href="/sobre")
                span Quem Somos
        li.nav-cursos
            a(href="/cursos")
                img(src="./img/icons/school.svg" alt="Cursos")
                span Cursos
        li#contato
            a(href="/contato")
                img#contato-icon(src="./img/icons/message.png" alt="Contato")
                b Contato
        li.face
            a(href="https://www.facebook.com/cdeasycursosetreinamentos/" target="blank")
                img#face-logo(src="./img/icons/face.png" alt="")