extends layout

block append style
    link(rel="stylesheet", href="/style/thanks.css")

block content
    .expander
    .thanks
        h1 Obrigado por entrar em contato!
        h2 Em breve nós retornaremos sua mensagem

        p #{name}, nós ficamos imensamente felizes em ver seu interesse por nossa escola.