extends layout

block content
    .expander
    h1 Obrigado por entrar em contato!
    h2 Em breve nós retornaremos sua mensagem

    p #{name}, nós ficamos imensamente felizes em ver seu interesse por nossa escola.